[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
googleapis-common-protos = '==1.5.3'
grpcio = '==1.14.2'
grpcio-tools = '==1.14.2'
d3m = {editable = true, ref = "devel", git = "https://gitlab.com/datadrivendiscovery/d3m.git"}
common-primitives = {editable = true, ref = "devel", git = "https://gitlab.com/datadrivendiscovery/common-primitives.git"}
"pcafeaturesd3mwrapper" = {editable = true, git = "https://github.com/NewKnowledge/pcafeatures-d3m-wrapper.git"}

[dev-packages]

[requires]
python_version = "3.6"
