absl-py==0.4.1
astor==0.7.1
bleach==1.5.0
certifi==2018.8.24
chardet==3.0.4
cloudpickle==0.5.5
-e git+https://gitlab.com/datadrivendiscovery/common-primitives.git@3bf21226aff90a826cf36b8b9694cedb81ff6357#egg=common_primitives
custom-inherit==2.2.0
cycler==0.10.0
-e git+https://gitlab.com/datadrivendiscovery/d3m.git@f34bf97e8fe4ce78397adcfc291ddca778a34b5f#egg=d3m
dask==0.19.1
dateparser==0.7.0
decorator==4.3.0
Faker==0.9.0
frozendict==1.2
gast==0.2.0
gitdb2==2.0.4
GitPython==2.1.9
googleapis-common-protos==1.5.3
grpcio==1.14.2
grpcio-tools==1.14.2
h5py==2.8.0
html5lib==0.9999999
idna==2.6
imageio==2.3.0
joblib==0.12.4
jsonpath-ng==1.4.3
jsonschema==2.6.0
Keras==2.1.6
kiwisolver==1.0.1
Markdown==2.6.11
matplotlib==2.2.3
networkx==2.1
numpy==1.14.3
opencv-python-headless==3.4.3.18
pandas==0.22.0
patsy==0.5.0
-e git+https://github.com/NewKnowledge/pcafeatures-d3m-wrapper.git@5ec8cf9d0288bc1f581e7e44f1b61ce73ceaeefd#egg=PcafeaturesD3MWrapper
Pillow==5.2.0
pkg-resources==0.0.0
ply==3.11
protobuf==3.6.1
punk==3.0.0
pycurl==7.43.0.1
pymc3==3.5
pyparsing==2.2.0
python-dateutil==2.7.3
pytypes==1.0b4
pytz==2018.5
PyWavelets==1.0.0
PyYAML==3.12
regex==2018.8.29
requests==2.18.4
rfc3987==1.3.7
scikit-image==0.14.0
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
smmap2==2.0.4
strict-rfc3339==0.7
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
text-unidecode==1.2
Theano==1.0.1
toolz==0.9.0
torch==0.3.1
torchvision==0.2.1
tqdm==4.25.0
typing==3.6.6
typing-inspect==0.2.0
tzlocal==1.5.1
urllib3==1.22
webcolors==1.8.1
Werkzeug==0.14.1
