# cython - didnt' seem to be installing as a transitive dependency
cython

# D3m baseline packages
-e git+https://gitlab.com/datadrivendiscovery/common-primitives.git#egg=common_primitives --process-dependency-links
-e git+https://gitlab.com/datadrivendiscovery/d3m.git@ec8cc9f36146c5324b027fd6be4e91e963cf2571#egg=d3m --process-dependency-links
-e git+https://gitlab.com/datadrivendiscovery/ta3ta2-api@dev-dist-python#egg=ta3ta2_utils --process-dependency-links

# New Knowledge Primitives
-e git+https://github.com/NewKnowledge/pcafeatures-d3m-wrapper.git@903ea261a3959bd7ee2a3fe78273437d351cf636#egg=PcafeaturesD3MWrapper --process-dependency-links
-e git+https://github.com/NewKnowledge/simon-d3m-wrapper.git@6484e6776c3c96a60bd7ad9cad90e67c6c05a6ed#egg=SimonD3MWrapper --process-dependency-links
-e git+https://github.com/NewKnowledge/datacleaning-d3m-wrapper.git@e35dd8a3e658f4e471828260ed1953577b03dd1f#egg=DatacleaningD3MWrapper --process-dependency-links
-e git+https://github.com/NewKnowledge/duke-d3m-wrapper.git@0448cd1b75f3e9fe160ab6113b36e2fe5937a19b#egg=DukeD3MWrapper --process-dependency-links
-e git+https://github.com/NewKnowledge/croc-d3m-wrapper.git@81e634b741d758ad91d1bd7bd4f14a3719e8bd50#egg=CROCd3mWrapper --process-dependency-links
-e git+https://github.com/NewKnowledge/unicorn-d3m-wrapper.git@025a56f29b9a379b79bee46535ffd21958604c8a#egg=UNICORNd3mWrapper --process-dependency-links
-e git+https://github.com/NewKnowledge/TimeSeries-D3M-Wrappers.git@a5fd924060910ecebc09579536741e5a7b4ad117#egg=TimeSeriesD3MWrappers --process-dependency-links
-e git+https://github.com/NewKnowledge/goat-d3m-wrapper.git@08ee747242856093d93f9d692fab4fd6b7d79e2c#egg=GoatD3MWrapper --process-dependency-links

# Uncharted Primitives
-e git+https://github.com/uncharted-distil/distil-timeseries-loader.git@87b17ae75f85cb96c7043fbababb6005d99dc853#egg=DistilTimeSeriesLoader --process-dependency-links
-e git+https://github.com/uncharted-distil/distil-mi-ranking.git@7c47e32b492ef89aeac627a133b11f6699f1c22e#egg=DistilMIRanking --process-dependency-links
-e git+https://github.com/uncharted-distil/distil-fuzzy-join.git@4e860b2d9f3aa44a90a0381677aa396d265e47f7#egg=DistilFuzzyJoin --process-dependency-links#egg=DistilFuzzyJoin --process-dependency-links

# ISI Primitives
-e git+https://github.com/usc-isi-i2/dsbox-cleaning.git@4f5a7244aee91e92d932d1f4e1ee8872b0f5c196#egg=DSBoxCleaning --process-dependency-links
